<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cadastro.css">
  <title>Login</title>
</head>

<body>
  <main>
    <div class="container">

      <header>
        <img src="img/Logotipo de Espaço de Beleza Cosméticos Delicado (8) 1.png" alt="">
      </header>

      <article>
        <p id="titulo"> Cadastro </p>
        <form>
          <div id="info">
            <div class="classe">
                <label for="Nome" >Nome:</label>
                <input type="text" placeholder="Nome">
              </div>
            <div class="classe">
              <label for="email" > Email:</label>
              <input type="email" placeholder="E-mail">
            </div>
            <div class="classe">
              <label for="password" >Crie sua senha:</label>
              <input type="password" placeholder="crie sua senha...">
            </div>
            <div class="classe">
                <label for="password" >Repita senha:</label>
                <input type="password" placeholder="repita sua senha...">
              </div>
          </div>
         
          <input id="entrar" type="submit" value="cadastrar-se">
        </form>
      </article>
    </div> 
  </main>
</body>

</html>