<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/carrosel.css">
    <title>Document</title>
</head>
<body>
    <div class="carrosel">
    <img class="base" src="/public/img/base e tons.jpg" alt="">
    <img class="paleta " src="/public/img/maquiagem.jpeg" alt="">
    <img class="batom" src="/public/img/base.jpg" alt="">
</div>
</body>
</html>