<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrinho.css">
    <title>Carrinho</title>
</head>

<body>
    <header>
        <section id="conteiner_cabecalho">
            <div>
                <img id="logo" src="img/Logotipo de Espaço de Beleza Cosméticos Delicado (8) 1.png"
                    alt="Logo LanggGlow">
            </div>
            <ul id="conteiner_informacoes">
                <li>
                    Atendimento ao Cliente
                </li>
                <li>
                    Central SAC: (00) 0000-0000
                </li>
                <li>
                    Email: faleconosco@langglow.com
                </li>
        </section>
    </header>
    <main>
        <div id="carrinho">
            <h3>
                 Produto Interno > Carrinho De Compras
            </h3>
            <h1>
                Carrinho de compras
            </h1>
            <div id="quadro_tabela">
                <table>
                    <thead>
                        <tr>
                            <th id="dotted1">#</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th id="dotted2">Preço</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr align="center" id="primeiraLinha">
                            <td><img src="./img/Rectangle 66.png" alt="maquiagem"></td>
                            <td>Paleta Soft Nude Feels - Hb1045 -Rubyrose</td>
                            <td>1</td>
                            <td>   R$ 49,99</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Quantidade Total De Itens</td>
                            <td align="center"> <strong> 1</strong> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Subtotal</td>
                            <td align="center"> <strong>R$ 49,99 </strong> </td>
                        </tr>
                        <tr id="espaco">
                            <td></td>
                            <td></td>
                            <td>Entrega</td>
                            <td align="center"><strong> Calcular</strong> </td>
                        </tr>
                    </tbody>
                    <tfoot>

                        <tr align="center">
                            <td></td>
                            <td></td>
                            <td colspan="2" id="total">Total R$ 49,99</td>
                        </tr>
                        <tr id="espaco2">
                            <td ></td>
                            <td align="end"><a href="#" id="comprando">Continuar Comprando</a> Ou</td>
                            <td colspan="2" align="center"> <button id="botao">FINALIZAR PEDIDO</button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <section id="pre-footer">
            <article id="categorias">
                <ul>
                    Categorias:
                    <li><a href="#">Skincare</a></li>
                    <li><a href="#">Rosto</a></li>
                    <li><a href="#">Lábios</a></li>
                    <li><a href="#">Olhos</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="#">Promoções</a></li>
                </ul>
            </article>
            <article id="contato">
                <ul>
                    <li>
                        Atendimento ao Cliente
                    </li>
                    <li>
                        Central SAC: (00) 0000-0000
                    </li>
                    <li>
                        Email: faleconosco@langglow.com
                    </li>
            </article>
        </section>
    </main>
    <footer>

        Devolopers<br>
        <div id="robos">
            <p> <a href="https://github.com/Geovannalessa"><img src="img/robo.png" alt=""></a> </p>
            <p> <a href="https://github.com/nati3054"><img src="img/robo.png" alt=""></a></p>
            <p> <a href="https://github.com/Gabs-ag"><img src="img/robo.png" alt=""></a> </p>
            <p> <a href="https://github.com/AnaCarolll"><img src="img/robo.png" alt=""></a></p>
            <p> <a href="https://github.com/LalaGomes"><img src="img/robo.png" alt=""></a></p>
        </div>
        <div id="instituicoes">
            <p><a
                    href="https://www.digitalhouse.com/br?utm_source=google&utm_medium=paidsearch&utm_campaign=lead&utm_term=institucional&utm_content=b2c-institucional-curso-landing-texto-lead-kw-institucional-defrase-keyword-all-other-text-carreer-none-none-all-br-search-none&gclid=CjwKCAjwv4SaBhBPEiwA9YzZvLtGrOFPIsJd0EINPYLAdLXe3FQvaQXmI8uYxo-5HBjkkLFWGUs_gRoCT8oQAvD_BwE"><img
                        src="img/dh.png" alt="curso DH que nos trouxe o ginho menorqtres"></a></p>
            <p><a href="https://programadoresdoamanha.org"><img src="img/progAmanha.png"
                        alt="o curso que mudou nossas vidas"></a></p>
            <p><a href="https://github.com/sergiomoura"><img src="img/ginho.png" alt="nosso querido professor"></a>
            </p>
        </div>

    </footer>
</body>

</html>