<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/finalizacao.css">
    <link rel="icon" href="/img/—Pngtree—pink magnifying glass classification table_4536491.png">
    <title>Langglow</title>
</head>

<body id="conteiner">
    <header>
        <div>
            <img id="logo" src="img/Logotipo de Espaço de Beleza Cosméticos Delicado (8) 1.png"
                alt="Logo LanggGlow">
        </div>
            <ul id="conteiner_informacoes">
                <li class="informacoes_contato">
                    <a href='#'> <img src="img/perfil_do_usario.png" alt="icone de pesquisa"></a>
                </li>
                <li class="informacoes_contato">
                <a href='#'> <img src="img/sacola (2).png" alt="icone de sacola"></a>
                </li>
                <li class="informacoes_contato">
                    <a href='#'> <img src="img/icone_pesquisa.png" alt="icone de pesquisa"></a>
                </li>
            </ul>
        </div>
        <form action="/busca">
            <input type="search" name="busca" id="busca">
        </form>
    </header>
    <nav id="menu_header">
        <ul class="menu">
            <li><a href="#">Sobrancelha</a></li>
            <li><a href="#">Rosto</a></li>
            <li><a href="#">Lábios</a></li>
            <li><a href="#">Olhos</a></li>
            <li><a href="#">Lancamentos</a></li>
            <li><a href="#">Promoções</a></li>
        </ul>
    </nav>
    <div id="quadro_compra_realizada">
        <h2>
            Sua Compra Foi Efetuada Com Sucesso!
            <br>
            Obrigada por comprar com Langglow :)
        </h2>
        <h1>
            Veja Nossos Outros Produtos Também!
        </h1>

    </div>
    <div id="imagens">
        <div>
            <main> <!--Ajustar as imagens aqui-->
                <div class="produto">
                    <h3>Base</h3>
                    <img src="img/Base Serum Nude Me.jpg" alt="Base">
                </div>
                <div class="produto">
                    <h3>Batom Gloss</h3>
                    <img src="img/pinceis.webp" alt="Batom gloss">
                </div>
                <div class="produto">
                    <h3>Paleta de Sombra</h3>
                    <img src="img/paleta3.jpg" alt="Paleta">
                </div>
            </main>
        </div>
    </div>

    <footer>
        <div>
            <p> Precisa de ajuda?<br>
                Entre em contato com a nossa esquipe
            </p>
        </div>
        <div class="contato">
            <img src="img/—Pngtree—white whatsapp icon png_3562063.png" alt="Entre em contato!">
        </div>

    </footer>
</body>

</html>