<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
    </style>
    <link rel="stylesheet" href="css/finalizacao.css">
    <!-- <link rel="icon" href="/img/—Pngtree—pink magnifying glass classification table_4536491.png"> -->
    <title>Finalização</title>
</head>

<body>
    <header>
        <section id="conteiner_cabecalho">
            <div>
                <img id="logo" src="img/Logotipo de Espaço de Beleza Cosméticos Delicado (8) 1.png"
                    alt="Logo LanggGlow">
            </div>
            <ul id="conteiner_informacoes">
                <li>
                    <a href='#'> <img src="img/perfil_do_usario.png" alt="icone de pesquisa"></a>
                </li>
                <div id="conteiner_pesquisa_sacola">
                    <p class="pesquisa_sacola">
                        <a href='#'> <img src="img/icone_pesquisa.png" alt="icone de pesquisa"></a>
                    </p>
                    <p class="pesquisa_sacola">
                        <a href='#'> <img src="img/sacola (2).png" alt="icone de sacola"></a>
                    </p>
                </div>
            </ul>
            </div>

        </section>
        <section id="conteiner_nav">
            <nav>
                <ul>
                    <li><a href="#">Skincare</a></li>
                    <li><a href="#">Rosto</a></li>
                    <li><a href="#">Lábios</a></li>
                    <li><a href="#">Olhos</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="#">Promoções</a></li>
                </ul>

            </nav>
        </section>
    </header>
    <!-- <nav id="menu_header">
        <ul class="menu">
            <li><a href="#">Sobrancelha</a></li>
            <li><a href="#">Rosto</a></li>
            <li><a href="#">Lábios</a></li>
            <li><a href="#">Olhos</a></li>
            <li><a href="#">Lancamentos</a></li>
            <li><a href="#">Promoções</a></li>
        </ul>
    </nav> -->
    <main>
        <section id="texto">
            <div id="quadro_compra_realizada">
                <h2>
                    Sua Compra Foi Efetuada Com Sucesso!
                    <br>
                    Obrigada por comprar com Langglow :)
                </h2>
                <h1>
                    Veja Nossos Outros Produtos Também!
                </h1>
            </div>
        </section>
        <article id="imagens_descricao">
            <section id="imagens">
                <div class="content">
                    <div class="slides">
                        <input type="radio" name="slide" id="slide1" checked>
                        <input type="radio" name="slide" id="slide2">
                        <input type="radio" name="slide" id="slide3">
                        <input type="radio" name="slide" id="slide4">
                        <input type="radio" name="slide" id="slide5">

                        <div class="slide s1">
                            <img src="img/maquiagem_ajeitada.jpg" alt="maquiagem Ruby Rose Soft Nude">

                        </div>
                        <div class="slide">
                            <img src="img/maquiagem_aberta.jpg" alt="maquiagem Ruby Rose Soft Nude">
                        </div>
                        <div class="slide">
                            <img src="img/maquiagem_bonita.jpg" alt="maquiagem Ruby Rose Soft Nude">
                        </div>
                        <div class="slide">
                            <img src="/img/maquiagens.jpg" alt="maquiagem Ruby Rose Soft Nude">
                        </div>
                        <div class="slide">
                            <img src="img/maquiagem_principal1.jpg" alt="maquiagem Ruby Rose Soft Nude">

                        </div>
                    </div>
                    <div class="navigation">
                        <label class="bar" for="slide1"></label>
                        <label class="bar" for="slide2"></label>
                        <label class="bar" for="slide3"></label>
                        <label class="bar" for="slide4"></label>
                        <label class="bar" for="slide5"></label>
                    </div>

                </div>
            </section>
        </article>
    </main>

    <footer>
        <div>
            <p> Precisa de ajuda?<br>
                Entre em contato com a nossa esquipe
            </p>
        </div>
        <div class="contato">
            <img src="img/—Pngtree—white whatsapp icon png_3562063.png" alt="Entre em contato!">
        </div>

    </footer>
</body>

</html>