<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="home.css">

   <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="/css/home.css">
   <link rel="stylesheet" href="/css/home.css">
   <title>Home</title>
</head>
<body>
   <header>
      <section id="conteiner_cabecalho">
         <div>
            <img id="logo" src="img/Logotipo de Espaço de Beleza Cosméticos Delicado (8) 1.png" alt="Logo LanggGlow">
         </div>
         <ul id="conteiner_informacoes">
            <li>
               <a href='#'> <img src="img/perfil_do_usario.png" alt="icone de pesquisa"></a>
            </li>
            <div id="conteiner_pesquisa_sacola">
               <p class="pesquisa_sacola">
                  <a href='#'> <img src="img/icone_pesquisa.png" alt="icone de pesquisa"></a>
               </p>
               <p class="pesquisa_sacola">
                  <a href='#'> <img src="img/sacola (2).png" alt="icone de sacola"></a>
               </p>
            </div>
         </ul>
         </div>
      </section>
      <section id="conteiner_nav">
         <nav>
            <ul>
               <li><a href="#">Skincare</a></li>
               <li><a href="#">Rosto</a></li>
               <li><a href="#">Lábios</a></li>
               <li><a href="#">Olhos</a></li>
               <li><a href="#">Lançamentos</a></li>
               <li><a href="#">Promoções</a></li>
            </ul>
         </nav>
      </section>
   </header>

   <main class="container">
      <!-- <div class="produto">
         <img class="base" src="img/paleta azul.png" alt="">
         <p class="produto-nome">Base Promoções</p>
         <p class="produto-preco">R$40,00</p>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img class="batom" src="img/batom gloss.jpg" alt="">
         <p class="produto-nome">Base Promoções</p>
         <p class="produto-preco">R$40,00</p>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img class="base" src="img/base.jpg" alt="">
         <p class="produto-nome">Base Promoções</p>
         <p class="produto-preco">R$40,00</p>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div> -->
      <div class="produto">
         <img src="img/Base Serum Nude Me.jpg" alt="">
         <div class="bloco">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$80,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img src="img/paleta colorida.jpg" alt="">
         <div class="bloco">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$80,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img src="img/paleta3.jpg" alt="">
         <div class="bloco">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$80,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img src="img/paleta1.jpg" alt="">
         <div class="bloco">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$80,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img src="img/paleta azul.png" alt="">
         <div class="bloco">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$80,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img src="img/paleta colorida.jpg" alt="">
         <div class="bloco">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$80,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img src="img/maquiagem_aberta.jpg" alt="">
         <div class="bloco">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$80,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img src="img/maquiagem_bonita.jpg" alt="">
         <div class="bloco">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$80,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img src="img/maquiagem_ajeitada.jpg" alt="">
         <div class="bloco">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$80,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <!-- <div class="produto">
         <img class="Brush" src="img/Brush Sets.jpg" alt="">
         <div class="bloco1">
            <p class="produto-nome">Base Promoções</p>
            <p class="produto-preco">R$40,00</p>
         </div>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img class="pincel" src="img/pinceis.webp" alt="">
         <p class="produto-nome">Base Promoções</p>
         <p class="produto-preco">R$40,00</p>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img class="Rectangle" src="img/Rectangle 66.png" alt="">
         <p class="produto-nome">Base Promoções</p>
         <p class="produto-preco">R$40,00</p>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div>
      <div class="produto">
         <img class="rimel" src="img/rimel trasparente.jpg" alt="">
         <p class="produto-nome">Base Promoções</p>
         <p class="produto-preco">R$40,00</p>
         <button class="favoritar">Favoritar</button>
         <button class="add-carrinho">Add carrinho</button>
      </div> -->
   </main>
   <section id="pre-footer">
      <article id="categorias">
          <ul>
              Categorias:
              <li><a href="#">Skincare</a></li>
              <li><a href="#">Rosto</a></li>
              <li><a href="#">Lábios</a></li>
              <li><a href="#">Olhos</a></li>
              <li><a href="#">Lançamentos</a></li>
              <li><a href="#">Promoções</a></li>
          </ul>
      </article>
      <article id="contato">
          <ul>
              <li>
                  Atendimento ao Cliente
              </li>
              <li>
                  Central SAC: (00) 0000-0000
              </li>
              <li>
                  Email:
faleconosco@langglow.com
              </li>
      </article>
  </section>
</body>
</html>