<!DOCTYPE html>
<html lang="en">

<head>

   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/public/css/home.css">
   <title>Document</title>
</head>

<body>
   <header id="header">
      <div>
         <img id="logo" src="/public/img/Logotipo de Espaço de Beleza Cosméticos Delicado (8) 1.png" alt="Logo LanggGlow">
      </div>
   </header>


   
   <div class="container">
      <div class="box1">
         <div class="link">
            <a>Sombrancelhas</a>
            <a>Rosto</a>
            <a>Lábios</a>
            <a>Olhos</a>
            <a>Lançamentos</a>
            <a>Promoções</a>
         </div>
         <div class="bloco2"> </div>
         <div class="flex">


         </div>




      </div>
</body>

</html>