<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Layout - WIP</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="discos.css">
</head>
<body>

	<header>
		<div class="container">
			<img src="https://imgs.search.brave.com/68W-_vch5rp-B6Y_h0if7vAtMCrFAIecabmQc4KRaEc/rs:fit:512:512:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMudmV4ZWxzLmNv/bS9tZWRpYS91c2Vy/cy8zLzE1NzM2NC9p/c29sYXRlZC9wcmV2/aWV3LzUzMTEzNjQ5/MWFmNTMyNTg0ZmMz/MjlhOTY0ZjUzNzQy/LWhhbmRoZWxkLWhh/bmR5LXN5bWJvbC1i/eS12ZXhlbHMucG5n" alt="Logo">
			<form>
				<input type="text" name="busca" placeholder="Digite a sua busca">
				<button>Buscar</button>
			</form>
		</div>
	</header>

	<nav>
		<ul class="container" >
			<li><a href="">Home</a></li>
			<li><a href="">Novos</a></li>
			<li><a href="">Mais antigos</a></li>
			<li><a href="">Recomendados</a></li>
			<li><a href="">Populares</a></li>
			<li><a href="">Promoções</a></li>
			<li><a href="">Contato</a></li>
		</ul>
	</nav>

	<div class="container lado-lado">
		<aside>
			<div class="asideItem">
				<label for="tipos">Marcas</label>
				<select name="tipos" id="tipos" multiple>
					<option value="">Apple</option>
					<option value="">Sansung</option>
					<option value="">Motorola</option>
					<option value="">Xiaomi</option>
					<option value="">Nokia</option>
					<option value="">lg</option>
					<option value="">Azumi</option>
					<option value="">Asus</option>
				</select>
			</div>

			<div class="asideItem">
				<label for="tamanho">Modelos mais famosos</label>
				<select name="tamanho" id="tamanho" multiple>
					<option value="cantores">Apple iPhone 12 Pro Max</option>
					<option value="cantores">Samsung Galaxy S20</option>
					<option value="cantores">Xiaomi Mi Note 10</option>
					<option value="cantores">Realme C11</option>
					<option value="cantores">CGalaxy A52</option>
					<option value="cantores">Realme 8 Pro</option>
					<option value="cantores">Galaxy A02s</option>
					
				</select>
			</div>

		</aside>
		<main>
			
			<div class="produto">
				<h3>Produto 1</h3>
				<p>Uma breve descrição do produto</p>
				<img src="https://imgs.search.brave.com/5Jahzg-8F8dNGYKbvxQ8DEpxzf0SdwvsMARkkkCNUho/rs:fit:700:978:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1mQzVocEZLQlBt/VS9UNmxDQlFQVG5X/SS9BQUFBQUFBQUEz/SS9NRWREY0I0eXpm/QS9zMTYwMC9SZWZs/ZWN0aW9uLnBuZw" alt="Imagem do produto">

				<div class="info-preco">
					<span class="preco">R$ 1.200,00</span>
					<span class="parcelamento">
						Ou
						<span>5x</span>
						de 
						<span>240,00</span>
					</span>
				</div>

				<div class="controles">
					<a class="favoritarBt">
						<i class="material-icons">favorite</i>
						Favorito
					</a>
					<a class="comprarBt">
						<i class="material-icons">attach_money</i>
						Comprar
					</a>
				</div>
			</div>
			
			<div class="produto">
				<h3>Produto 1</h3>
				<p>Uma breve descrição do produto</p>
				<img src="https://imgs.search.brave.com/5Jahzg-8F8dNGYKbvxQ8DEpxzf0SdwvsMARkkkCNUho/rs:fit:700:978:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1mQzVocEZLQlBt/VS9UNmxDQlFQVG5X/SS9BQUFBQUFBQUEz/SS9NRWREY0I0eXpm/QS9zMTYwMC9SZWZs/ZWN0aW9uLnBuZw" alt="Imagem do produto">

				<div class="info-preco">
					<span class="preco">R$ 1.200,00</span>
					<span class="parcelamento">
						Ou
						<span>5x</span>
						de 
						<span>240,00</span>
					</span>
				</div>

				<div class="controles">
					<a class="favoritarBt">
						<i class="material-icons">favorite</i>
						Favorito
					</a>
					<a class="comprarBt">
						<i class="material-icons">attach_money</i>
						Comprar
					</a>
				</div>
			</div>

            <div class="produto">
				<h3>Produto 1</h3>
				<p>Uma breve descrição do produto</p>
				<img src="https://imgs.search.brave.com/5Jahzg-8F8dNGYKbvxQ8DEpxzf0SdwvsMARkkkCNUho/rs:fit:700:978:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1mQzVocEZLQlBt/VS9UNmxDQlFQVG5X/SS9BQUFBQUFBQUEz/SS9NRWREY0I0eXpm/QS9zMTYwMC9SZWZs/ZWN0aW9uLnBuZw" alt="Imagem do produto">

				<div class="info-preco">
					<span class="preco">R$ 1.200,00</span>
					<span class="parcelamento">
						Ou
						<span>5x</span>
						de 
						<span>240,00</span>
					</span>
				</div>

				<div class="controles">
					<a class="favoritarBt">
						<i class="material-icons">favorite</i>
						Favorito
					</a>
					<a class="comprarBt">
						<i class="material-icons">attach_money</i>
						Comprar
					</a>
				</div>
			</div>

            <div class="produto">
				<h3>Produto 1</h3>
				<p>Uma breve descrição do produto</p>
				<img src="https://imgs.search.brave.com/5Jahzg-8F8dNGYKbvxQ8DEpxzf0SdwvsMARkkkCNUho/rs:fit:700:978:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1mQzVocEZLQlBt/VS9UNmxDQlFQVG5X/SS9BQUFBQUFBQUEz/SS9NRWREY0I0eXpm/QS9zMTYwMC9SZWZs/ZWN0aW9uLnBuZw" alt="Imagem do produto">

				<div class="info-preco">
					<span class="preco">R$ 1.200,00</span>
					<span class="parcelamento">
						Ou
						<span>5x</span>
						de 
						<span>240,00</span>
					</span>
				</div>

				<div class="controles">
					<a class="favoritarBt">
						<i class="material-icons">favorite</i>
						Favorito
					</a>
					<a class="comprarBt">
						<i class="material-icons">attach_money</i>
						Comprar
					</a>
				</div>
			</div>

			<div class="produto">
				<h3>Produto 1</h3>
				<p>Uma breve descrição do produto</p>
				<img src="https://imgs.search.brave.com/5Jahzg-8F8dNGYKbvxQ8DEpxzf0SdwvsMARkkkCNUho/rs:fit:700:978:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1mQzVocEZLQlBt/VS9UNmxDQlFQVG5X/SS9BQUFBQUFBQUEz/SS9NRWREY0I0eXpm/QS9zMTYwMC9SZWZs/ZWN0aW9uLnBuZw" alt="Imagem do produto">

				<div class="info-preco">
					<span class="preco">R$ 1.200,00</span>
					<span class="parcelamento">
						Ou
						<span>5x</span>
						de 
						<span>240,00</span>
					</span>
				</div>

				<div class="controles">
					<a class="favoritarBt">
						<i class="material-icons">favorite</i>
						Favorito
					</a>
					<a class="comprarBt">
						<i class="material-icons">attach_money</i>
						Comprar
					</a>
				</div>
			</div>
			<div class="produto">
				<h3>Produto 1</h3>
				<p>Uma breve descrição do produto</p>
				<img src="https://imgs.search.brave.com/5Jahzg-8F8dNGYKbvxQ8DEpxzf0SdwvsMARkkkCNUho/rs:fit:700:978:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1mQzVocEZLQlBt/VS9UNmxDQlFQVG5X/SS9BQUFBQUFBQUEz/SS9NRWREY0I0eXpm/QS9zMTYwMC9SZWZs/ZWN0aW9uLnBuZw" alt="Imagem do produto">

				<div class="info-preco">
					<span class="preco">R$ 1.200,00</span>
					<span class="parcelamento">
						Ou
						<span>5x</span>
						de 
						<span>240,00</span>
					</span>
				</div>

				<div class="controles">
					<a class="favoritarBt">
						<i class="material-icons">favorite</i>
						Favorito
					</a>
					<a class="comprarBt">
						<i class="material-icons">attach_money</i>
						Comprar
					</a>
				</div>
			</div>																																			
		</main>
	</div>

	<footer>
		<div class="container">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias accusantium ullam provident sit fugiat possimus architecto ex, qui obcaecati eligendi recusandae temporibus. Necessitatibus assumenda accusantium animi amet at omnis aliquam!
		</div>
	</footer>
</body>
</html>