<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
=======
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
>>>>>>> dc436ee6c632e848709fdef7efb045456febea89
   <link rel="stylesheet" href="/css/painelDeUsuario.css">
</head>

<body>

   <main>
      <section class="usuario ">
         <div class="imagem"><img class="img" src="/img/usuario.png" alt=""></div>
         <div class="todas">Alterar imagem</div>
         <div class="todas">Meu cadastro</div>
         <div class="todas">Pedidos</div>
         <div class="todas">Favoritos</div>
         <div class="todas">Minhas Avaliações</div>
         <div class="todas">Sorteios</div>
         <div class="todas">Garantia</div>
         <div class="todas">Protocolos</div>
         <div class="todas">Atendimento ao Cliente
            <br>
            Central SAC: (31) 9876-5432
            <br>
            E-mail: faleconosco@langglow.com
         </div>
      </section>
      <section class="pedidos">
         <header>
            <h1>Meus Pedidos</h1>
            <input type="search" name="pesquisar" id="pesquisar" placeholder="Pesquisar...">
         </header>
         <section class="main">
            <div class="tabela">
               <div class="linha">
                  <table summary="Todos os Pedidos">
                     <thead>
                         <tr>
                             <th id="pedidos" colspan="3" align="start"> Todos os Pedidos</th>
                             <th id="pedidos" colspan="3" align="end"></th>
                             <th id="pedidos" colspan="3" align="end"></th>
                             <th id="pedidos" colspan="3" align="end"> TODOS</th>
                         </tr>
                         
                     </thead>
                  </table>
               </div>
            </div>
         </section>

      </section>
   </main>
</body>


</div>
</body>

</html>