<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/produtoInterno.css">
    <title>Produto Interno</title>
</head>
<body id="conteiner">
    <header>
        <div>
            <img id="logo" src="../public/img/Logotipo de Espaço de Beleza Cosméticos Delicado (8) 1.png" alt="Logo LanggGlow">
        </div>
        <ul id="conteiner_informacoes" >
            <li class="informacoes_contato">
                <a href=""></a>
            </li>
            <li class="informacoes_contato">
                Central SAC: (31) 9876-5432
            </li>
            <li class="informacoes_contato">
                Email: faleconosco@langglow.com
            </li>
    </div>
</header>
    
</body>
</html>