<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/produtoInterno.css">
    <title>Produto Interno</title>
</head>

<body>
    <header>
        <section id="conteiner_cabecalho">
            <div>
                <img id="logo" src="../public/img/Logotipo de Espaço de Beleza Cosméticos Delicado (8) 1.png"
                    alt="Logo LanggGlow">
            </div>
            <ul id="conteiner_informacoes">
                <li>
                    <a href='#'> <img src="../public/img/perfil_do_usario.png" alt="icone de pesquisa"></a>
                </li>
                <li class="pesquisa_sacola">
                    <a href='#'> <img src="../public/img/sacola (2).png" alt="icone de sacola"></a>
                </li>
                <li class="pesquisa_sacola">
                    <a href='#'> <img src="../public/img/icone_pesquisa.png" alt="icone de pesquisa"></a>
                </li>
                </div>
        </section>
        <section id="conteiner_nav">
            <nav>
                <ul>
                    <li><a href="#">Skincare</a></li>
                    <li><a href="#">Rosto</a></li>
                    <li><a href="#">Lábios</a></li>
                    <li><a href="#">Olhos</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="#">Promoções</a></li>
                </ul>

            </nav>
        </section>
            
    </header>

</body>

</html>