body{
    margin: 0;
    max-width: 100%;
    min-width:320px;
    margin: auto;
    background-color: rgba(247, 193, 204, 0.209);

}
#conteiner{
    display: grid;
    grid-template-columns:  auto ;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "header"
    "carrinho"
    "quadro_tabela"
    "header_quadro_tabela"
    "informacoes_do_produto"
    "preco";   
}
#header{
    grid-area: header;

    background-image: url('../img/Rectangle\ 64\ \(1\).png');
background-color: rgba(237, 160, 160, 0.866);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "logo  informacoes_contato";
}
#logo{
    grid-area: logo;
    padding-top: 20px;
    height: 140px;
    background-color: rgba(127, 255, 212, 0);
}
#conteiner_informacoes{
    margin-top: 50px;
    margin-right: 40px;
}
.informacoes_contato{
    grid-area: informacoes_contato;
    width: auto;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}


#carrinho{
    grid-area: carrinho;
    color: rgba(251, 151, 170, 1);
    border-top:rgb(203, 197, 197) 1px solid;
    font-size: 20px;
}
#carrinho>h3{
    padding: 25px 0px 0px 70px;
    font-size: 30px;
}
#quadro_tabela{
    grid-area: quadro_tabela;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    max-width: max-content;
    min-width: 320px;
    margin: 60px auto;
padding-bottom: 30px;
}
#header_quadro_tabela{
    grid-area: header_quadro_tabela;
    margin-bottom: 10px;
    display: flex;
}
.cabecalho{
    justify-content:space-around;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0;
}    
#informacoes_do_produto{
    grid-area: informacoes_do_produto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    margin-top: 40px;
    grid-template-areas: 
    "foto descricao quantidade preco_tabela subtotal";
    
}
#informacoes_do_produto>p{
    justify-content:space-around;
}
#foto{
    margin-left: 30px;
    margin-top: 0;
}

#foto>img{
    grid-area: foto;
    height: 70px;
    width: 120px;
}
#descricao{
    grid-area: descricao;
    width: 200px;   
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}
#quantidade{
    grid-area: quantidade;
    padding-left: 70px;
    width: fit-content;
}
#preco_tabela{
    grid-area: preco_tabela;
    margin-right: 10px;
    padding-left: 140px;
    width: fit-content;
    font-weight: 600;
    font-size: 24px;
}
#subtotal{
    grid-area: subtotal;
    width: fit-content;
    padding-left:70px;
    font-weight: 600;
    font-size: 24px;
}
#preco{
    grid-area: preco;
    background-color: rgba(165, 42, 42, 0);
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    margin-right: 55px;
    margin-top: 40px;
    font-size: larger;

}
#preco>ul>li{
    padding-bottom: 10px;
}
#preco_total{
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    margin-right:55px ;
}
#finalizacao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#finalizacao *{
    padding-right: 5px;
}
#comprando{
    text-decoration: none;
    color: rgb(234, 127, 145);
    
}
#botao{
    padding: 15px 50px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(251, 151, 170, 1);
    border: transparent 4px solid
}
li{
    list-style: none;
}
#botao:hover{
    background-color: rgb(241, 131, 152);
    cursor: pointer;
}
.linha{
    margin: 0;
}
#linha{
    margin:0;
    padding-top: 40px;
}
#pre-footer{
    background-image: url('../img/Rectangle\ 64\ \(1\).png');
    width: 100%;
    height: 164px;
    background-color: rgba(237, 160, 160, 0.866);
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    font-weight: 500;
}

#pre-footer>article>ul{
    margin: 0px;
    list-style: none;
    padding: 0%;
}
#categorias{
    padding-left: 50px;
}
#categorias>ul>li>a{
    color: black;
}
#contato{
    padding-right:20px ;
}
#contato{
    align-self: center
}
footer{
    background-color: rgb(0, 0, 0);
    height: 320px;
    padding-top: 90px;
    padding-bottom:5px ;
    text-align: center;
    color: rgba(240, 248, 255, 0.564);
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
    letter-spacing: 7px;
}
footer{
    border:solid rgba(35, 133, 224, 0.246) 2px;
    animation-name:borda ;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-iteration-count:infinite;
}
#robos{
    margin: 23px 90px;
    height: 200px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

#robos>p>a>img{
    height: 70px;
    border: 3px double rgba(246, 246, 246, 0.63);
    background-color: rgba(78, 233, 166, 0);
    opacity: 20%;
   padding: 6px;
}
#robos>p>a>img:hover{
    background-color: rgba(9, 160, 242, 0.123);
    opacity: 100%;
    transition: .90s;
}
#instituicoes{
    display: flex;
    justify-content: space-between;
}
#instituicoes>p{
    margin: 0%;
}
#instituicoes>p>a>img{
    height: 37px;
    width: 40px;
    opacity: 20%;
    padding: 4px;
}
#instituicoes>p>a>img:hover{    
    opacity: 100%;
    transition: .90s;

}

@keyframes borda {
0%{
    border:solid rgba(86, 157, 225, 0.246) 2px;
}
20%{
    border:solid rgba(165, 167, 168, 0.581) 2px;
}
40%{
    border:solid rgba(8, 79, 145, 0.571) 2px;

}
60%{
    border:solid rgba(165, 167, 168, 0.581) 2px;
}
80%{
    border:solid rgba(27, 174, 174, 0.46) 2px;
}
100%{
    border:solid rgba(2, 6, 9, 0.926) 2px;    
}
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');