body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
header>#conteiner_cabecalho {
    background-image: url('../img/Rectangle\ 64\ \(1\).png');
    background-size: 100% 100% fixed;
    background-color: rgba(237, 160, 160, 0.866);
    width: 100%;
    display: flex;
    height: 120px;
    /* border-bottom:ridge 2px rgba(0, 0, 0, 0.233); */
  }

#conteiner_cabecalho>div {
    width: 50%;
  }
#logo {
    grid-area: logo;
    padding-top: 10px;
    height: 120px;
    padding-left: 10px;
}
  
  #conteiner_informacoes {
    margin-top: 16px;
    margin-right: 40px;
    width: 50%;
  }
  
  #conteiner_informacoes>* {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
  }
  
  #conteiner_informacoes>*>a>img {
    height: 30px;
  }
  
  .pesquisa_sacola {
    margin-left: 30px;
  }
  
  .pesquisa_sacola>a {
    display: flex;
    height: 30px;
    width: fit-content;
  }
  
  .pesquisa_sacola>a>img {
    justify-content: flex-end;
  }
  
  #conteiner_nav {
    border-bottom: 3px double rgba(175, 146, 30, 0.458);
    margin: 0%;
    background-color: rgba(23, 23, 23, 0.886);
  }
  
  #conteiner_nav>nav {
    margin: 0%;
  }
  
  #conteiner_nav>nav>ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 5px;
  }
  
  #conteiner_nav>nav>ul>li>a {
    text-decoration: none;
      letter-spacing: 4px;
      color: rgb(153, 107, 107);
      width: 10px;
      font-size: 14px;
      font-weight:lighter;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      /* font-family: 'Julius Sans One', sans-serif; */
  }
  
  #conteiner_nav>nav>ul>li>a:hover {
    color: rgb(232, 224, 224);
    transition: 1s;
  }

/*Textos*/
#textos {
    width: 100%;
    height: 780px;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/2113855/pexels-photo-2113855.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-color: rgba(255, 255, 255, 0.759); 
}

#finalizacao{
    padding-top: 130px;
    background-color: rgba(240, 248, 255, 0.361);
    height: inherit;
    font-size: 20px;
    text-align: center;
    width: 600px;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#langglow{
    padding-top: 90px;
    height: 250px;
    opacity: 0.7;
}

h2{
    color: rgba(0, 0, 0, 0.942);
    letter-spacing: 3px;
    margin: 0%;
}
#pre-footer{
    background-image: url('../img/Rectangle\ 64\ \(1\).png');
    width: 100%;
    height: 154px;
    background-color: rgba(237, 160, 160, 0.866);
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    font-weight: 500;
}

#pre-footer>article>ul{
    margin: 0px;
    list-style: none;
    padding: 0%;
}
#categorias{
    padding-left: 50px;
}
#categorias>ul>li>a{
    color: black;
}
#contato{
    padding-right:20px ;
}
#contato{
    align-self: center
}
body::-webkit-scrollbar {
    /* width: 40px; */
    background-color: rgba(23, 23, 23, 0.886);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(153, 107, 107);
    border-radius: 20px;
    border: 3px solid #ac7b1100;
    height: 20px;
  }
  
  body::-webkit-scrollbar-track {
    background: #131313f0;
    width: 1px;
  }

  

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');



/* Para celulares */
@media(max-width:480px) {

    #conteiner_nav>nav>ul>li>a {
        text-decoration: none;
        color: rgb(142, 102, 127);
        width: 10px;
        font-size: 13px;
    }

    /* #imagens_descricao {
        display: block;
        padding: 20px 0px;
    } */
    .bar {
        width: 42px;
    }

    .content {
        height: 250px;
    }

    .content {
        height: 250px;
        padding-bottom: 50px;
        overflow: hidden;
        position: absolute;
        width: 70%;
        margin-left: 16%;
        margin-top: 30px;
    }

    #imagens {
        margin: auto;
        padding: 0%;
        height: 340px;
        width: 100%;
    }

    h2 {
        margin-left: 27px;
        font-size: 25px;
    }
}

/* Para tabletes, ipads */
@media(min-width:481px) and (max-width:791px) {
    #conteiner_nav>nav>ul>li>a {
        text-decoration: none;
        color: rgb(142, 102, 127);
        width: 10px;
        font-size: 14px;
    }

    .bar {
        width: 52px;
    }

    .content {
        height: 300px;
    }

    .content {
        height: 300px;
        padding-bottom: 50px;
        overflow: hidden;
        position: absolute;
        width: 70%;
        margin-left: 16%;
        margin-top: 30px;
    }

    #imagens {
        margin: auto;
        padding: 0%;
        height: 400px;
        width: 100%;
    }

    h2 {
        margin-left: 27px;
        font-size: 25px;
    }

}

@media(min-width:791px) and (max-width:1014px) {
    #imagens_descricao {
        display: flex;
        padding: 20px 0px;
    }

    .bar {
        width: 47px;
    }

    .content {
        height: 400px;
    }

    #imagens {
        height: 500px;
    }

    h2 {
        margin-left: 27px;
        font-size: 25px;
    }
}

/* Para laptos e desktops */
@media(min-width:1014px) and (max-width:1280px) {
    h2 {
        margin-left: 27px;
        font-size: 28px;
    }

    table {
        font-size: 16px;
        margin: 20px 0px;
    }

    .bar {
        width: 67px;
    }

    #quantidade {
        font-size: 18px;
        letter-spacing: 2px;
    }

    #detalhamento {
        margin: 2px auto 40px;

    }

}

/* Para telas grandes */
@media(min-width:1281px) {
    body {
        background-color: rgb(255, 255, 255);
    }

}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');