*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'lusitana';
    font-size: 16px;
    background-color: rgba(255, 192, 203, 0.23);
    background-image: url(/design/img/paleta1.jpg);
    background-color: #FFDFE5; 
    background-size: cover;
    z-index: -1;
}

header {
    color: #FFDFE5;
    display: flex;
    justify-content: center;
} 

#logo img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}  

#conteiner{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "menu_header"
    "quadro_compra_realizada"
    "imagens"
    "footer";
    
}
#header{
    grid-area: header;
    display: flex;
    background-image: url('/design/img/retangulozinho.jpeg');
    background-size: 1200px 190px;
    background-color: rgba(148, 80, 94, 0.545);
    overflow: hidden;
}

#coisas_header img {
    justify-content: flex-start;
    position: absolute;
    height: 120px;
} 

#imagem_fundo{
    width:1200px;
    height: 150px;
}

/* form{
    position: absolute;
    justify-content: end;
} */
input[type='search'], input[type='text']{
    border: none;
    padding: 5px;
    font-size: 1rem;
    font-family: inherit;
    color: #000;
}

input[type='search']:focus, input[type='text']:focus{
    outline: 2px solid var(--cor-destaque);
}

header input[type="search"] {
    font-size: 2rem;
    color: #FFF;
    background-color: rgba(255,255,255,0.0);
    background-image: url(/design/img/—Pngtree—pink\ magnifying\ glass\ classification\ table_4536491.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0px;
    width: 32px;
    background-size: 32px 32px;
    background-blend-mode: lighten;
    transition: width 0.5s ease-in-out;
}

 #menu {
    list-style: none;
    height: 120px;
    position: absolute;
    border: 1px solid #FFDFE5;
    float: left;
} 

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #FFDFE5;
}

.menu li a {
    color: #882f3f;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    width: 214px;
}

.menu li a:hover {
    background: #ffd4dc;
    color: #882f3f;
    text-shadow: 0px 0px 5px #fff;
} 

ul{
    list-style: none;

}

h1{
    color: #FC6582;
    text-align: center;
}

h2{
    color: #FC6582;
    text-align: center;
} 

div #lado-lado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    
}

#produto img{
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 5px;
} 

#produto{
    display: flex;
} 

#footer{
    background-color: #FC6582;
    border-radius: 5px;
    position: relative;
}

#contato{
    color: #fff;
    width: 25px;
    height: 15px;
    position: absolute;
}

/*div {
    width: 300px;
    height: 200px;
    overflow: hidden;  Faz o div não aumentar a altura por causa da imagem 
}*/
