body{
    background-color: #FFDFE5;
    position: absolute;
    height: 100%;
    font-family: 'lusitana';
    background-image: url(/design/img/paleta1.jpg);
    background-size: cover;
	z-index: -1;
}

html{
    font-size: 16px;
}
header{
    position: absolute;
    width: 100px;
    height: 100px;
}

h2{
    position: absolute;
    height: 33px; 
    width: 324px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-family: 'lusitana';
}

.container{
    position: absolute;
    border-radius: 10px;
    width: 10%;
}
.lado-lado>main> {
    display: grid;
    height: 29px;
    width: 32px;
    border-radius: 10px;
    justify-content: space-between;
}
.produto{
    border-radius: 10px;
    justify-content: space-between;
}
main {
    padding: 20px;
}