body{
    margin: 0;
    max-width: 100%;
    min-width:320px;
    margin: auto;
    background-color: rgba(247, 193, 204, 0.209);

}
main{
    background-color: rgb(245, 238, 238);

}
#conteiner{
    display: grid;
    grid-template-columns:  auto ;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "header"
    "carrinho"
    "quadro_tabela"
    "header_quadro_tabela"
    "informacoes_do_produto"
    "preco";   
}
#header{
    grid-area: header;
    background-image: url('./Rectangle\ 64\ \(1\).png');
    background-size:100% 100% fixed;
    background-color: rgba(224, 174, 174, 0.545);
   
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "logo  informacoes_contato";
}
#logo{
    grid-area: logo;
    padding-top: 20px;
    height: 140px;
    background-color: rgba(127, 255, 212, 0);
}
#conteiner_informacoes{
    margin-top: 50px;
    margin-right: 40px;
}
.informacoes_contato{
    grid-area: informacoes_contato;
    width: auto;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    
}


#carrinho{
    grid-area: carrinho;
    background-color: rgba(255, 248, 248, 1);
    color: rgba(251, 151, 170, 1);
    border-top:rgb(203, 197, 197) 1px solid;
    padding: 25px 0px 0px 40px;
    
}
#quadro_tabela{
    grid-area: quadro_tabela;
    color: black;
    background-color: white;
    width: 110px;
}
#header_quadro_tabela{
    grid-area: header_quadro_tabela;
    background-color: white;
    display: flex;
}
.cabecalho{
    justify-content:space-around;
    padding-left: 160px;
    margin-bottom: 0;
}    
#informacoes_do_produto{
    grid-area: informacoes_do_produto;
    background-color: aqua;
}
#preco{
    grid-area: preco;
    background-color: brown;
}
li{
    list-style: none;
}